body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F1F2B5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.wrapper {
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}
.content-box {
    margin-top: 20px;
}
.typing-text {
    font-size: 18px;
    margin-bottom: 10px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 6px;
}
.input-field {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    text-align: center;
}
.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
}
button {
    background: #30e451;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}
button:hover {
    background: #0056b3;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}